# Сборка CMake
build/
bin/
out/

# Кэш и временные файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Настройки VS Code 
.vscode/

.venv/
__pycache__/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
build/
dist/
*.spec
